pip install Django==4.2
pip install psycopg2-binary==2.9.6
pip install djangorestframework==3.14.0
pip install django-cors-headers==4.2.0
pip install drf-extra-fields==3.4.0
pip install python-dotenv==1.0.0
pip install django-filter==23.2
pip install drf-nested-routers==0.93.4
pip install django-colorfield==0.11.0
pip install Pillow==10.0.0
pip install dj-database-url==3.0.1
pip install whitenoise==6.5.0